body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}

header img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    margin-right: 45px;
}

section {
    margin: 20px;
}

form {
    display: flex;
    align-items: center;
}

label {
    display: none;
}

input {
    padding: 5px;
    flex: 1;
    margin-right: 5px;
}

button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 8px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

section a {
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

section a:hover {
    color: #555;
}

footer {
    margin-top: 20px;
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: center;
}

#seccion-articulos {
    display: flex;
    flex-wrap: wrap;
    
}

#seccion-articulos h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

article {
    flex: 1 0 calc(25% - 20px); /* Cambiado a un tercio del ancho, manteniendo tres en una fila */
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    max-width: 300px; /* Ancho máximo ajustado */
    border-radius: 10px;
}

#seccion-articulos article img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Agrega estos estilos para mejorar la apariencia de las sugerencias */
#sugerencias-container {
    position: relative;
}

.sugerencia {
    cursor: pointer;
    padding: 8px;
    margin: 2px 0;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.sugerencia:hover {
    background-color: #e0e0e0;
}

@media only screen and (max-width: 768px) {
    article {
        flex: 1 0 calc(100% - 20px);
        max-width: none; /* Ancho máximo eliminado en dispositivos más pequeños */
    }
}
